<%- include('partials/header') %>

    <main>
        <h1>
            <%= category.category_name %>
        </h1>

        <p>Here are the service projects in this category:</p>

        <% if (projects.length> 0) { %>
            <ul>
                <% projects.forEach(project=> { %>
                    <li>
                        <a href="/project/<%= project.project_id %>">
                            <%= project.title %>
                        </a>
                    </li>
                    <% }); %>
            </ul>
            <% } else { %>
                <p>No service projects are currently associated with this category.</p>
                <% } %>

        <% if (user && user.role_name==='admin' ) { %>
            <a href="/edit-category/<%= category.category_id %>" class="edit-link">Edit Category</a>
        <% } %>        
    </main>

<%- include('partials/footer') %>