<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <p>Here are some of our service categories:</p>

        <% let currentCategory=null; %>

        <ul>
            <% categories.forEach(category=> { %>
                <% if (currentCategory !==category.category_name) { %>
                    <% if (currentCategory !==null) { %>
                        </ul>
                    </li>
                    <% } %>

                    <li>
                        <strong>
                            <a href="/category/<%= category.category_id %>">
                                <%= category.category_name %>
                            </a>
                        </strong>
                        <ul>
                            <% currentCategory=category.category_name; %>
                    <% } %>

                    <li>
                        <a href="/project/<%= category.project_id %>">
                            <%= category.title %>
                        </a>
                    </li>
                <% }); %>

                <% if (categories.length> 0) { %>
                        </ul>
                    </li>
                <% } %>
        </ul>
        <% if (user && user.role_name==='admin' ) { %>
            <a href="/new-category" class="edit-link">Add New Category</a>
        <% } %>

    </main>

    <%- include('partials/footer') %>