<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <p>Here are some of our service categories:</p>

        <% let currentCategory=null; %>

            <ul>
                <% categories.forEach(category=> { %>
                    <% if (currentCategory !==category.category_name) { %>
                        <% if (currentCategory !==null) { %>
            </ul>
            </li>
            <% } %>

                <li>
                    <strong>
                        <%= category.category_name %>
                    </strong>
                    <ul>
                        <% currentCategory=category.category_name; %>
                            <% } %>

                                <li>
                                    <%= category.title %>
                                </li>

                                <% }); %>

                                    <% if (categories.length> 0) { %>
                    </ul>
                </li>
                <% } %>
                    </ul>
    </main>

    <%- include('partials/footer') %>