<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <p>Here are some of our service projects:</p>

        <ul>
            <% projects.forEach(project=> { %>
                <li>
                    <strong>
                        <%= new Date(project.project_date).toDateString() %>: <%= project.title %> (<%=
                                    project.organization_name %>)
                    </strong><br>
                    Description: <%= project.description %><br>
                        Location: <%= project.location %><br>
                </li>
                <% }); %>
        </ul>

    </main>

    <%- include('partials/footer') %>