<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <p>Here are the next upcoming service projects:</p>

        <ul>
            <% projects.forEach(project=> { %>
                <li style="margin-bottom: 1.5rem;">

                    <!-- Entire project tile is clickable -->
                    <a href="/project/<%= project.project_id %>" style="text-decoration: none; color: inherit;">

                        <strong>
                            <%= project.title %>
                        </strong>
                    </a>

                    <br>

                    <!-- Organization link -->
                    Organization:
                    <a href="/organization/<%= project.organization_id %>">
                        <%= project.organization_name %>
                    </a>

                    <br>

                    Date: <%= new Date(project.date).toDateString() %><br>
                        Location: <%= project.location %>

                </li>
                <% }); %>
        </ul>

        <% if (user && user.role_name==='admin' ) { %>
            <a href="/new-project" class="edit-link">Add a New Service Project</a>
            <% } %>

    </main>

    <%- include('partials/footer') %>